<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div class="container">
 <div class="blog-header">
     <h1 blog="blog-title"> Blog</h1>
 </div>
 <div class="row">
     <div class="col-sm-8-blog-main">
         {% for post in Post %}
         <div class="blog-post">
             <h2 class="blog-post-title">{{post.title}}</h2>
             <p>{{post.content}}</p>
         </div>
     </div>
     <div class="col-sm-3-col-offset-1 blog-sidebar">
         <div class="sidebar-module sidebar-module-insert">
             <h4> Search</h4>
             <form class="form-inline">
                 <div class="form-group">
                     <label for="query">Name</label>
                     <input type="text" name="query" class="form-control" id="query">
                 </div>
                 <button type="submit" class="btn-btn-primary">Search</button>
             </form>
         </div>
     </div>
 </div>
 </div>
</body>
</html>